

#box{
    width:100%;
    height:680px;
    background-color:#EEEEEE;
    color:#000;
}
.page-head{
display:flex;/*弹性布局*/
position:fixed;/*固定定位*/
z-index:999;/*显示上面*/
width:100%;/*与父元素相同*/
/*与父元素相同*/
justify-content:center;
/*垂直居中*/
align-items:center;
background-color:#fff;
height:48px;
color:#000;
font-size:18px
}

p,h5{
    margin:0;
  }
.list-left h5{
    padding-top:5px;
    font-size:15px;
}
.list-left p{
    font-size: 10px;
    color:gray;
}
.body-list{
width:100%;
position:absolute;
top:55px;
}
.list{
  width:100%;
  height:64px;
  background-color:#fff;
}
span.list-right{
    display:inline-block;
    width:35px;
    height:35px;
    border-radius: 50%;
    background-color:pink;
    text-align:center;
    line-height: 35px;
    margin:10px;
    margin-top:0;
    align-items:center;
    vertical-align: middle;/*垂直居中*/
}
.one span.list-right{
    background-color:#906bc8;
}
.two span.list-right{
    background-color:rgb(225, 243, 67);
}
.three span.list-right{
    background-color:rgb(223, 68, 94);
}
.four span.list-right{
    background-color:#1296DB;
}
.five span.list-right{
    background-color:rgb(240, 207, 60);
}
.six span.list-right{
    background-color:#1296DB;
}
span>img{
    vertical-align: middle;
}
.list-left{
    display:inline-block;
    width:300px;
    padding:8px;
    padding-bottom:12px;
    padding-top:12px;
}
.list-left-box{
    display:inline-block;
    width:320px;
    border-bottom:1px solid #E6E6E6;
}